.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
  margin: var(--xl-size) 0 0;
  font-size: 1.8rem;
}
.pagination__button {
  margin-right: var(--m-size);
  opacity: 0.74;
  line-height: 1.6rem;
  transition: var(--default-transition);
  &:hover {
    opacity: 1;
    font-weight: 600;
  }
}
.pagination__button--active {
  @extend .pagination__button;
  opacity: 1;
  font-weight: 600;
  border-bottom: 2px solid var(--main-accent-color);
  pointer-events: none;
  margin-top: 2px;
}

.pagination__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  span {
    margin: 0.4rem;
  }
}
