.icon__list {
  display: flex;
  flex-wrap: wrap;
  svg {
    fill: var(--text-color);
  }
}
.icon__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--s-size);
  p {
    font-size: var(--s-size);
  }
}
