header.header {
  height: $header-height;
  background-color: var(--background-color--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--m-size);
  box-shadow: $depth-1;
  li {
    list-style: none;
  }
  svg {
    fill: $dark-blue;
  }
}
