.landing-page__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}

.landing-page__section {
  display: flex;
  padding: var(--xl-size) 0;
  &:nth-child(even) {
    background: var(--main-accent-color);
    color: var(--button-text-color--primary);
  }
}
.landing-page__intro {
  @extend .landing-page__section;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    line-height: $leading-loose;
  }
  h1 {
    color: var(--button-text-color--primary);
  }
}

.landing-page__technologies {
  @extend .landing-page__section;
  justify-content: space-around;
  flex-wrap: wrap;
  svg {
    fill: var(--button-text-color);
  }
  div {
    text-align: center;
    max-width: 30.4rem;
    line-height: $leading-relaxed;
    a {
      color: var(--text-color);
    }
  }
}

.landing-page__storybook {
  @extend .landing-page__section;
  padding: 0;
  div {
    max-width: 50vw;
    line-height: $leading-relaxed;
    img {
      width: 100%;
      object-fit: cover;
      object-position: left top;
      box-shadow: $depth-5;
    }
    a {
      color: var(--button-text-color--primary);
    }
    button {
      border-color: var(--button-text-color--primary);
      color: var(--button-text-color--primary);
    }
    &:first-child {
      padding: var(--l-size) var(--l-size) var(--xl-size);
    }
    &:nth-child(2),
    img {
      max-height: 27.2rem;
    }
  }
}
