.range-slider {
  width: 100%;
}

.range-slider__input {
  -webkit-appearance: none;
  width: 24.8rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background: var(--secondary-accent-color);
  box-shadow: $depth-1--inset;
  outline: none;
  transition: $default-transition;
}

.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-accent-color);
  cursor: pointer;
  box-shadow: $depth-1;
}

.range-slider__input::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-accent-color);
  cursor: pointer;
  box-shadow: $depth-1;
}
