.range-slider {
  width: 100%;
}

.range-slider__input {
  -webkit-appearance: none;
  width: 24.8rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  background: var(--secondary-accent-color);
  box-shadow: inset 0 1px 3px rgba(29, 29, 37, 0.12),
    inset 0 1px 2px rgba(29, 29, 37, 0.24);
  outline: none;
  transition: $default-transition;
}

.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-accent-color);
  cursor: pointer;
  box-shadow: $depth-1;
}

.range-slider__input::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-accent-color);
  cursor: pointer;
  box-shadow: $depth-1;
}
